@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700";

// NOTE: soft: #98b5ff
// NOTE: Primary dark #031956
// NOTE: Secondary soft-dark #344fa1
body {
}
html,
body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}
